<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Wellcome to Vector AutoRegression Builder!</h2>
    <h3>Please, upload your input series (2 columns space or tab separated) or leave empty and we'll show you our example result</h3>
    <div>
        @using (Html.BeginForm("Index",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
        {
            <label for="file">Upload file:</label>
            <input type="file" name="file" id="file" /><br><br>
            <input type="submit" value="Upload" />
        }
    </div>
</body>
</html>
